body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    align-self: start;
    justify-self: center;
    text-align: center;
    width: 100vw;
    position: absolute;
  }
  
  .scene {
    width: 200px;
    height: 200px;
    position: relative;
    background: transparent;
    perspective: 200px;
  }
  
  .pyramid {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px) rotateY(45deg) rotateX(-15deg);
    animation: rotate 5s linear infinite;
  }
  
  .face {
    transform-origin: top center;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    transition: .25s linear;
    opacity: .6;
  }
  
  .front {
    transform: rotateX(35.21deg);
    border-bottom: calc(200px * .866) solid red;
  }
  
  .pyramid:hover>.front {
    transform: rotateX(35.21deg) translateZ(10px);
  }
  
  .back {
    transform: rotateY(180deg) rotateX(35.21deg);
    border-bottom: calc(200px * .866) solid blue;
  }
  
  .pyramid:hover>.back {
    transform: rotateY(180deg) rotateX(35.21deg) translateZ(10px);
  }
  
  .left {
    transform: rotateY(-90deg) rotateX(35.21deg); /*knowing all the sides I easily found the angle of inclination*/
    border-bottom: calc(200px * .866) solid green;
  }
  
  .pyramid:hover>.left {
    transform: rotateY(-90deg) rotateX(35.21deg) translateZ(10px);
  }
  
  .right {
    transform: rotateY(90deg) rotateX(35.21deg);
    border-bottom: calc(200px * .866) solid cyan;
  }
  
  .pyramid:hover>.right {
    transform: rotateY(90deg) rotateX(35.21deg) translateZ(10px);
  }
  
  .base {
    position: absolute;
    transform-origin: center center;
    width: 200px;
    height: 200px;
    transform: translateY(-50%) rotateX(-90deg) translateZ(141.415133561px);
    background: orange;
    opacity: .6;
    transition: .25s linear;
  }
  
  .pyramid:hover>.base {
    transform: translateY(-50%) rotateX(-90deg) translateZ(151.415133561px);
  }
  
  @keyframes rotate {
    from {
      transform: translateZ(-50px) rotateY(45deg) rotateX(-15deg)
    } to {
      transform: translateZ(-50px) rotateY(405deg) rotateX(-15deg)
    }
  }