:root {
  --centerH: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
}

#face_image {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) scaleX(-1);
  border: 0;
  border-radius: 50%;
  height: 100vw;
  width: 100vw;
  background-color: #bbaaff;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px #000;
}

#text_nest {
  width: calc(50% - 6vw);
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#text_nest > h1 {
  margin: 0 auto;
  width: fit-content;
  letter-spacing: -1px;
  font-size: 2.25rem;
}

#text_nest > p {
  margin: 2rem auto 0 auto;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-indent: 1rem;
}

.btns {
  margin: 1rem auto 0 auto;
  width: fit-content;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 2rem;
  background: #bbaaff;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  transition: 0.15s linear;
  box-sizing: border-box;
  color: white;
}

.primary:hover {
  border: 2px solid #bbaaff;
  color: #bbaaff;
  background: white;
}

.secondary {
  background: transparent;
  font-size: .9rem;
  color: gray;
  width: 150px;
}

.secondary:hover {
  text-decoration: underline;
  color: rgb(63, 63, 63);
}

.btn:hover {
  transform: scale(1.05);
}

.infos {
  display: inline-block;
  margin-left: .5rem;
  cursor: default;
}

footer {
  color: gray;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

footer>.btn {
  display: inline-block;
  margin: 0 .5rem;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  width: fit-content;
  padding:0;
  font-weight: normal;
  border: 0;
}

footer > .secondary {
  background: transparent;
  font-size: .9rem;
  color: gray;
}

footer>.secondary:hover {
  text-decoration: underline;
  color: rgb(63, 63, 63);
}

footer>.btn:hover { transform:none }

@media only screen and (orientation: portrait) {
  footer {
    font-size: .7rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
  }
  footer>.secondary {
    color: white;
    font-size: .7rem;
  }
  footer>.secondary:hover {
    color: var(--background-tertiary);
  }
  #text_nest {
    font-size: .9rem;
    width: calc(100% - 15vw);
    left: 50%;
    color: white;
    padding: 10vw 5vw;
    background: #00000050;
    border: 0;
    border-radius: 1rem;
  }
  #text_nest > h1 {
    font-size: 2.1rem;
  }
  #face_image {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--accent);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    left: 50%;
    box-shadow: none;
  }
  body {
    background: #000;
  }
  .secondary {
    font-size: .9rem;
    color: #e3e3e3;
  }
  .secondary:hover {
    text-decoration: underline;
    color: #b9b9b9;
  }
}
